.learn-UX-design {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}
.star-row{
    background-color: chartreuse;
    margin-top: 50px;
}
.star-container {
    width: fit-content;
    float: left;
}
.star-count {
    width: fit-content;
    float: left;
}
.star-count p {
    line-height: 16px;
}
.learn-text{
    width:360px;
}
h1 {
    font-size: 52px;
    font-weight: bolder;
}
.with{
    font-weight: bolder;
}
.with-norman {
    margin-top: 6px;
    margin-bottom: 6px;
}
.learn-button {
    margin-top: 40px;
}
.don-norman{
    color: cadetblue;
    color: var(--system1);
    font-weight: bolder;
}
.enroll-button {
    float: left;
}
.fin-aid {
    width: fit-content;
    float: left;
    margin-top: 14px;
    margin-left: 30px;
    font-weight: bolder;
}
.fin-aid a{
    text-decoration: none;
    color: grey;
    color: var(--fontlittle);
    text-decoration: underline;
}
.learn-UX-design2 {
    position:relative;
}
.learn-UX-design2 img {
    width:100%;
    height: auto;
}
.skritulys1 {
    width: 23vw;
    height: 23vw;
    background-color: cadetblue;
    background-color: var(--system1);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 32%
}
.skritulys2 {
    width: 150px;
    height:150px;
    background-color: cadetblue;
    background-color: var(--system1);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: 30px;
    top: 0%
}
.play-button {
    position: absolute;
    left: 46%;
    top: 42%
}

/* ANIMACIJOS */
.learn-UX-design1 {
    animation-name: learn-UX-design1;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}
@keyframes learn-UX-design1 {
    0% {
        margin-left:-1000px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        margin-left:0px;
        opacity: 1;
    }
}
.learn-UX-design2 {
    animation-name: learn-UX-design2;
    animation-duration: 1600ms;
    animation-fill-mode: forwards;
}
@keyframes learn-UX-design2 {
    0% {
        margin-left:600px;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        margin-left:0px;
        opacity: 1;
    }
}
.skritulys1 {
    animation-name: skritulys1;
    animation-duration: 600ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
}
@keyframes skritulys1 {
    0% {
        top: 42%
    }
    50% {
        background-color: var(--system1);
    }
    58% {
        background-color: var(--system2);
    }
    64% {
        background-color: black;
    }
    72% {
        background-color: white;
    }
    80% {
        background-color: black;
    }
    84% {
        background-color: var(--system2);
    }
    96% {
        background-color: var(--system1);
    }
    100% {
        top: 52%
    }
}
.skritulys2 {
    animation-name: skritulys2;
    animation-duration: 500ms;
    animation-delay: 1600ms;
    animation-fill-mode: forwards;
}
@keyframes skritulys2 {
    0% {
        top: 0%
    }
    50% {
        background-color: var(--system1);
    }
    58% {
        background-color: var(--system2);
    }
    64% {
        background-color: black;
    }
    72% {
        background-color: white;
    }
    80% {
        background-color: black;
    }
    84% {
        background-color: var(--system2);
    }
    96% {
        background-color: var(--system1);
    }
    100% {
        top: -10%
    }
}